*~
.idea
/.DS_Store
.DS_Store
/classes
/lib
/target
closure
/core.js
/coreadvanced.js
/coresimple.js
/out
/.lsp/
/.shadow-cljs/
.calva
.clj-kondo
.lsp
.shadow-cljs
node_modules
*out
.lein*
*.iml
.repl*
*.swp
*.zip
clojurescript_release_*
closure-release-*
.lein-repl-history
.nrepl-port
.nrepl-repl-history
builds
node_modules
nashorn_code_cache
.node_repl
package.json
package-lock.json
.cpcache
resources/brepl_client.js
public/js/cljs-runtime
/public/js/cljs-runtime